{% load static %}
<table id="movieList">
    {% for row in titles %}
        <tr>
        {% for t in row %}
            <td class="movieList-item">
                <a href="/titles/{{ t.title_id }}">
                    {% if t.poster %}
                        <img src="{{ t.poster }}" alt="{{ t.title }}">
                    {% else %}
                        <img src="{% static 'generic-poster.jpg' %}">
                    {% endif %}
                </a>
                <p>{{ t.title }}</p>
                <span class="material-symbols-outlined">arrow_circle_right</span>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>