{% load static %}
<script type="text/javascript" src="{% static 'scripts/comments.js' %}"></script>
<table id="tmdb-comments-table">
      <th>Users of The Movie Database Said:</th>
      {% for x in  tmdb_comments.results %}
      <tr>
            <td class="tmdb-comment">
                  <p>Author: {{x.author}}</p>

                  {% if x.author_details.rating is None %}
                        <p>No user rating</p>
                  {% else %}
                        <p>{{x.author_details.rating}}/10</p>
                  {% endif %}

                  {% if x.content|length < 1000 %}
                        <p>{{ x.content }}</p>
                  {% else %}
                        <p class="comment-content">
                              {{ x.content|slice:":1000" }}<span class="dots">...</span><span class="show-txt-area">{{ x.content|slice:"1000:" }}</span>
                              <button onclick="dynamicSizeComment()" class="show-txt-btn">read more</button>
                        </p>
                  {% endif %}    
            </td>
      </tr>
      {% endfor %}
</table>