#top-banner {
      
      .material-symbols-outlined {
            display: none; 
      } 
}

h2 {
      margin-top: 10%;
      position: relative;
      text-align: center;
      font-size: 2em;
      color: white;
}

h4 {
      color: white;
      text-align: center;
}

#searchBar {
      text-align: center;
      margin-left: 20%;
      width: 60%;

      input {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 25px;
            font-size: 16px;
            background-color: white;
            background-image: url('icons/search-icon.png');
            background-size: 22px;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
      }

      label:first-of-type {
            display: none;
      }
}

.tab {
      margin-left: 65px;
      color: white;
      font-size: 20px;
      display: inline-block;
      border: 2px solid white;
      border-radius: 30px;
      padding: 5px;
}

.tab.active{
      background: darkgray;
      color: black;
}