h2 {
      margin-top: 10%;
      position: relative;
      text-align: center;
      font-size: 2em;
      color: white;
}

#searchBar {
      text-align: center;
      margin-left: 20%;
      
      width: 60%;

      input {
            // width: 98%;
            // height: 35px;
            // border: 2px solid maroon;
            // border-radius: 25px;
            // padding: 12px 20px;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 25px;
            font-size: 16px;
            background-color: white;
            background-image: url('icons/search-icon.png');
            background-size: 22px;
            background-position: 10px 10px; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
      }

      label {
            display: none;
      }
}

h3 {
      margin-left: 65px;
      color: white;
      font-size: 24pt;
      display: inline-block;
}

#movieList {
      background-color: rgb(43, 41, 41);
      margin-left: 40px;
      margin-right: 40px;
      border-spacing: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }

.movieList-item {
      position:relative
}

.movieList-item img {
      max-width: 100%;
      height: auto;
}

.movieList-item p {
      opacity: 0;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.material-symbols-outlined {
      opacity: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.movieList-item:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      img {
            opacity: .2;
      }

      p, .material-symbols-outlined {
            opacity: 1;
      }
}