// File containing the common theme for all pages on the site 

// Just testing SCSS
body {
    background: maroon;

    h1 {
        font-family: 'Courier New', Courier, monospace;
        color: white; 
    }   
}
