body {
    overflow: hidden;
}

#backdrop {
    position: absolute;
    left: 0;
    top:9%; 
    width: 100%; 
    height: auto; 
    z-index: -1; 
    filter: blur(5px);
    transform: scale(1.1);
}

.container {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-flex;

    grid-template-columns: 0.8fr 3.2fr;

    grid-template-rows: 2.0fr;
}

.poster {
    width: 20%;
    text-align: center;
    height: auto;
}

.text-area {
    margin-left: 2%;
    backdrop-filter: brightness(30%);
    border: 2px solid white;
    border-radius: 10px;
    color: white;

    h2 {
        vertical-align: top;
        text-align: left;
        color: white;
        font-size: 2em;
        margin-left: 3%;
    }

    p {
        margin-left: 3%;
        margin-right: 5%;
        display: inline-grid;
    }
}
.rating-area {
    margin-left: 2%;
    backdrop-filter: brightness(30%);
    border: 2px solid white;
    border-radius: 10px;
    color: white;

    h2 {
        vertical-align: top;
        text-align: left;
        color: white;
        font-size: 2em;
        margin-left: 3%;
    }

    p {
        margin-left: 3%;
        margin-right: 5%;
        display: inline-grid;
    }
}

.ratings p{
    margin-left: 3%;
    margin-right: 5%;
    display: inline-grid;
}

.trailer-container{
    text-align: center;
    margin-top: 2em;
}

.tmdb-comment{
    color: white;
}

.nyt-comment{
    color: white;
}