{% load static %}
<script type="text/javascript" src="{% static 'grid-display.js' %}"></script>
<div id="grid-container">
    {% if not search and title_grid.pager_location == 'top' %}
        {% include "page-selector.html" %}
    {% endif %}
    <table id="movieList">
        {% for row in title_grid.titles %}
            <tr>
            {% for t in row %}
                <td class="movieList-item">
                    <a href="/titles/{{ t.title_id }}">
                        {% if t.poster %}
                            <img src="{{ t.poster }}" alt="{{ t.title }}">
                        {% else %}
                            <img src="{% static 'generic-poster.jpg' %}">
                        {% endif %}
                    </a>
                    <p>{{ t.title }}</p>
                    <span class="material-symbols-outlined">arrow_circle_right</span>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% if not search and title_grid.pager_location == 'bottom' %}
        {% include "page-selector.html" %}
    {% endif %}
</div>