<!DOCTYPE html>
{% load compress static %}
<html>
    <head>
        <title>Movie Review Hub</title>
        {% include "header.html" %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/home.scss' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/grid-display.scss' %}">
        {% endcompress %}
        <style>
            .text-search {
                background-image: url("{% static 'icons/search-icon.png' %}"); 
            }
        </style>
    </head>
    <body>
        {% include "banner.html" %}
        <h2>Welcome to a new way to get movie reviews</h2>
        <form id="searchBar" action="{% url 'tab_view' 'search' %}" method="post">
            {% csrf_token %}
            {{ search_bar }}
            <input type="submit" value="Submit">
        </form>
        <div id="section-titles">
            <a href="{% url 'tab_view' 'popular-now' %}" id="popular-now"><h3 class="tab{% if action == 'popular-now' %} active{% endif %}">Popular Now</h3></a>
            <a href="{% url 'tab_view' 'now-playing' %}" id="now-playing"><h3 class="tab{% if action == 'now-playing' %} active{% endif %}">Now Playing</h3></a>
            <a href="{% url 'tab_view' 'upcoming' %}" id="upcoming"><h3 class="tab{% if action == 'upcoming' %} active{% endif %}">Upcoming</h3></a>
        </div>
        {% include "grid-display.html" %}
    </body>
</html>