<!DOCTYPE html>
{% load static %}
{% load compress %}
<html>
    <head>
        {% include "header.html" %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'title_details.scss' %}">
        {% endcompress %}
    </head>
    <body>
        <!-- <img id="backdrop" src="{% static 'movie-seats-pic.jpeg' %}"> -->
        <img id="backdrop" src="{{ title_info.backdrop }}">

        <div class="container">
            <img class = poster src="{{ title_info.poster }}">
            <div class ="rating-area">
                <h2><u>Rating Information</u></h2>
                <div class="ratings">
                    <p id="weighted-rating"></p>
                </div>

                <p id="imdb-rating"> <b>IMDB Rating:</b> {{ title_info.imdb_rating }}</p>
                <p id="movie-db-rating"><b>IMDB Score:</b> {{title_info.movie_db_rating}}</p>
                <p id="movie-db-score-rotten"><b>Rotten Tomatoes:</b> {{title_info.movie_db_score_rotten}}</p>
                <p id="movie-db-rating-count"><b>Number of Ratings:</b> {{title_info.movie_db_rating_count}}</p>
                <p id="movie-db-score-average"><b>Average Score:</b> {{title_info.movie_db_score_average}}</p>

            </div>
            <div class="text-area">
                <h2><u>Movie Information</u></h2>
                <h2>{{ title_info.title }}</h2>
                <p class="release-date"><b>Released:</b> {{title_info.release_date}}</p>
                <p class="genres"> <b>Genre(s):</b> {{title_info.genres}}</p>
                <p class="description"> <b>Description:</b> <br>{{title_info.description}}</p>
                <p class="movie-trailer"> <b>Movie Trailer:</b> <br>{{title_info.movie_trailer}}</p>
            </div>

        </div>
    </body>
</html>