<!DOCTYPE html>
{% load static %}
{% load compress %}
<html>
    <head>
        {% include "header.html" %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'title_details.scss' %}">
        {% endcompress %}
    </head>
    <body>
        {% if title_info.backdrop %}
            <img id="title-backdrop" src="{{ title_info.backdrop }}">
        {% endif %}
        <h1>{{ title_info.title }}</h1>
        <img src="{{ title_info.poster }}">
        <p>imdb rating: {{ title_info.imdb_rating }}</p>
    </body>
</html>