<!DOCTYPE html>
{% load static %}
{% load compress %}
<html>
    <head>
        <title>{{ title_info.title }} - Movie Review Hub</title>
        {% include "header.html" %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'title-details.scss' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'grid-display.scss' %}">
        {% endcompress %}
    </head>
    <body style="overflow: scroll;">
        {% include "banner.html" %}
        <img id="backdrop" src="{{ title_info.backdrop }}">
        <div class="container">
            <img class = poster src="{{ title_info.poster }}">

            <div class="text-area">
                <h2>{{ title_info.title }}</h2>
                <p><b>Released:</b><div class="release-date">{{title_info.release_date}}</div></p>
                <p class="genres"> <b>Genre(s):</b> 
                    {% for x in title_info.genres %}
                        <div class="genre-name">{{x.name}}</div>
                    {% endfor %}
                    </p>
                <p class="description"> <b>Description:</b> <br>{{title_info.description}}</p>
            </div>

            <div class ="rating-area">
                <p id="movie-db-score-average"><b>Average Score:</b> {{title_info.movie_db_score_average}}</p>
                <p id="movie-db-rating-count"><b>Number of Ratings:</b> {{title_info.movie_db_rating_count}}</p>
                <p id="imdb-rating"> <b>IMDB Rating:</b> {{ title_info.imdb_rating }}</p>
                <p id="movie-db-rating"><b>The Movie DB Rating:</b> {{title_info.movie_db_rating}}</p>
                <p id="movie-db-score-rotten"><b>Rotten Tomatoes Rating:</b> {{title_info.movie_db_score_rotten}}</p>
                <p id="metacritic"><b>Metacritic:</b> {{title_info.metacritic}}</p>
            </div>
        </div>

        <div class="trailer-container">
            <video controls="controls" src= {{title_info.movie_trailer}} ></video>
        </div>

        <div class="comments-container">
            {% include 'nyt_comments.html' %}

            {% include 'tmdb_comments.html' %}
        </div>

        <h1>If you liked {{ title_info.title }}, checkout these recommended films:</h1>
        {% include 'grid-display.html' %}
    </body>
</html>